*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/encodings.xml
.idea/
app/libs/
core/libs/
core/src/main/res/drawable/
hs_err_pid4004.log
replay_pid4004.log
core/src/main/java/com/enpassio/core/ui/character/
gradle.properties
